<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    
    <aspNetCore processPath=".\EWOMS_CoreAPI.exe" arguments="" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />

    <rewrite>
      <rules>
        <!-- Ignore API routes -->
        <rule name="ApiRoutes" stopProcessing="true">
          <match url="^(api|chathub|swagger)/.*" />
          <action type="None" />
        </rule>
        <!-- Angular Routing: Fallback to index.html -->
        <rule name="AngularRoutes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
    
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>
